<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Scripts.js"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <span id="Content1" >
        @Html.Partial("Content1")
    </span>
    <span id="Content2">
        @Html.Partial("Content2")
    </span>
    <span id="Content3" >
        @Html.Partial("Content3")
    </span>
    <span id="Content4" >
        @Html.Partial("Content4")
    </span>
    <div>
        <button id="PrevPageBtn">Previous page</button>
        <button id="StopContinueTimerBtn">Stop timer</button>
    </div>
    <div id="TimerDiv"></div>
    <div id="CurrentPageDiv"></div>
</body>
</html>
